<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Interrupt-O-Meter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="interrupt-o-meter,interrupt tracker">
    <meta name="author" content="Jero Sutlovic">

    <!-- Le styles -->

    <!-- fonts -->
    <link href="/static/libs/furore-ffk/stylesheet.css" rel="stylesheet">

    <link href="/static/libs/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/static/libs/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Main style -->
    <link href="/static/css/meter.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <!-- <link rel="shortcut icon" href="/static/libs/bootstrap/ico/favicon.ico"> -->

    <!-- Script initialization stuff -->
    <script>
    </script>
  </head>

  <body id="meter">

    <div class="container">

      <div class="row">
        <h1 class="title">Interrupt - O - Meter</h1>
      </div>

      <div class="row">
        <div class="span4 offset4">
          <a class="btn nav" href="/">Meter</a>
        </div>
      </div>

      <div class="row">

        <div class="span8 offset2 setup">
          <form action="/setup" method="POST">
            <div>
              <label><h5>Current Iteration</h5></label>
              <input type="date" id="current-date" name="current" value="{{ dates.current }}" />
            </div>

            <div>
              <label><h5>Last Iteration</h5></label>
              <input type="date" id="last-date" name="last" value="{{ dates.last }}" />
            </div>

            <div>
              <label><h5>Last Hotfix</h5></label>
              <input type="date" id="hotfix-date" name="hotfix" value="{{ dates.hotfix }}" />
            </div>

            <div>
              <label><h5>Hotfix Record</h5></label>
              <input type="int" id="hotfix-max" name="hotfix-record" value="{{ records.hotfix }}" />
            </div>

            <div>
              <label><h5>Last Outage</h5></label>
              <input type="date" id="outage-date" name="outage" value="{{ dates.outage }}" />
            </div>

            <div>
              <label><h5>Outage Record</h5></label>
              <input type="int" id="outage-max" name="outage-record" value="{{ records.outage }}" />
            </div>

            <input type="submit" id="setup_submit" name="setup" class="btn" />
          </form>
        </div>

      </div>

    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/libs/jquery/jquery-1.8.3.min.js"></script>
    <script src="/static/libs/flotr2/flotr2.min.js"></script>

  </body>
</html>
